/* FONT */
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

/* COLORS */
/* background color -> #B4E4E6 */
/* text color -> #453D3D */
/* button color -> #B32274 */
/* button text color -> white */



body {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   text-align: center;
   background-color: #B4E4E6;
}

h1 {
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
}

img {
  height: 119px;
  width: 119px;
}

button {
  background-color: #B32274;
  border-radius: 10px;
  padding: 12px 56px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  width: 15%;
  border: 0px;
}
